body
{
    margin: 0;
    padding: 0;
}

#links
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);

    position: fixed;
    bottom: 0em;
    right: 0em;
}

#presentation-section
{
    background: rgb(143,31,209);
    background: linear-gradient(90deg, rgba(141,33,205,1) 0%, rgba(195,99,252,1) 100%); 
    color: white;

    height: 100vh;
    display: flex;
    align-items: stretch;
}

#presentation-section > div
{
    width: 100%;
}

#presentation-quick
{
    padding-top: 30vh;
    padding-left: 5em;
}

#presentation-quick > h1, h4
{
    margin: 0;
}

#presentation-name
{
    font-size: 5em;
}

#presentation-about
{
    display: flex;
    flex-direction: column;
}

#presentation-about-title
{
    text-align: center;
}

#presentation-about > div
{
    flex-grow: 1;
}

#about-content
{
    width: 70%;
    height: fit-content;
    background-color: white;
    box-shadow: 1em 1em black;
    color: black;
}

#projects-section
{
    background-color: white;
}

#projects-section > h1
{
    font-size: 4em;
    text-align: center;
}

#projects-slideshow
{
    position: relative;
    background-color: rgb(163, 163, 163);
}

.slides-container
{
    overflow: hidden;
    white-space: nowrap;
}

.slide
{
    width: 50vw;
    display: inline-block;
}

.slide > img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prev, .next 
{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next 
{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover 
{
    background-color: rgba(0, 0, 0, 0.8);
}