body
{
    margin: 0;
    padding: 0;
}

#links
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);

    position: fixed;
    bottom: 0em;
    right: 0em;
}

#presentation-section
{
    background: linear-gradient(90deg, rgba(141,33,205,1) 0%, rgba(195,99,252,1) 100%); 
    color: white;

    height: 100vh;
    display: flex;
    align-items: stretch;
}

#presentation-section > div
{
    width: 100%;
}

#presentation-quick
{
    padding-top: 30vh;
    padding-left: 5em;
}

#presentation-quick > h1, h4
{
    margin: 0;
}

#presentation-name
{
    font-size: 5em;
}

#presentation-about
{
    display: flex;
    flex-direction: column;
}

#presentation-about-title
{
    text-align: center;
}

#presentation-about > div
{
    flex-grow: 1;
}

#about-content
{
    width: 70%;
    height: fit-content;
    background-color: white;
    box-shadow: 1em 1em black;
    color: black;
}

#projects-section
{
    background-color: white;
}

#projects-section > h1
{
    font-size: 4em;
    text-align: center;
}

#projects-index
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-container
{
    width: 50%;
}

#projects-index > .project-container
{
    background-color: rgb(168, 168, 168);
}

#projects-index > .project-container:nth-of-type(1), .project-container:nth-of-type(4n)
{
    background-color: white;
}

.project-container > img
{
    width: 30%;
    float: left;
}

#projects-index > .project-container:hover
{
    color: white;
    background-color: #a842e4;
}

.project-description
{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-description > h2
{
    margin-bottom: 0;
}

#contact-section
{
    background-color: black;
    margin-top: 4.5em;
    color: white;
    text-align: center;

    padding: 2em 0;
}

#contact-section > h1
{
    margin-top: 0;
}

.contact-form
{
    display: flex;
    margin: auto;
    width: min-content;

    cursor: pointer;
}

.contact-form > button
{
    background-color: white;
    border-radius: 0;
    border: none;
    cursor: inherit;
    width: 4em;
    height: 4em;
}

.contact-form > button > img
{
    margin: auto;
}

.contact-email
{
    background-color: rgba(220, 220, 220, 1);
    color: black;
    text-align: left;
    padding: 0 1em;

    display: flex;
    align-items: center;
}